<h1>Search for flights</h1>
<div class="row">
  <% if @flights  && !@flights.empty?
      position = 'col-md-4 offset-md-1'
  else
      position = 'col-md-6 offset-md-3'
  end
      %>
  <div class= "<%= position %>" >

<h4>1: Search</h4>
<%= form_tag root_path, method: 'get' do %>
  <div class="form-group">
  <%= label_tag 'flight[departure_airport_id]', 'Departing from:' %>
  <%= collection_select(:flight,:departure_airport_id,
    @departure_airports, :id, :name,{selected: @departure},
    {class:'form-control',
    }) %>
    </div>
    <div class="form-group">
  <%= label_tag 'flight[arrival_airport_id]', 'Arriving at:' %>
  <%= collection_select(:flight, :arrival_airport_id,
    @arrival_airports, :id, :name,{selected: @arrival}, {class:'form-control'}) %>
  </div>
  <div class="form-group">
  <%= label_tag 'booking[passengers]', 'Number of Passengers:' %>
  <%= select_tag('booking[passengers]',
   options_for_select(@passengers, selected = @num_passengers),
    class:'form-control' ) %>

    </div>
      <div class="form-group">
  <%= label_tag 'flight[leaving_date]', 'Date:' %>

  <%= date_field_tag('flight[leaving_date]', value = @flight_date,
      min: @first_date, max: @last_date, class: 'form-control') %>
  </div>
  <%= submit_tag "Search", class:"btn btn-primary" %>
  <br>
<% end %>
</div>
  <% if @flights  && !@flights.empty? %>

  <div class="col-md-6 col-md-offset-1">
    <h4>2. Choose your flight</h4>
    <div class="left-head">
      <strong>   From:</strong>
      <em>  <%= @flights.first.departure_airport.name %></em>
      (<%= @flights.first.departure_airport.code %>)
    </div>
    <div class="right-head">
      <strong> To:</strong>
      <em> <%= @flights.first.arrival_airport.name %> </em>
      (<%= @flights.first.arrival_airport.code %>)
    </div>


    <%= form_tag new_booking_path, method: 'get' do %>
    <div class= "btn-group-vertical btn-group-toggle form-group"
      data-toggle = "buttons">

      <% @first = true %>
      <%= render @flights %>

    </div>
    <%= hidden_field_tag :num_passengers, @num_passengers %>
    <%= submit_tag "Book #{@num_passengers} passengers",
    class:'btn btn-primary' %>
    <% end %>
  </div>
  <% end %>
</div>

<div display = 'block'> </div>
