<!DOCTYPE html>
<html>
  <head>
    <title>OdinFlightBooker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
    </div>
    <div class="container">
      <%= yield %>

    </div>
    <div class="container">
      <br> <br>
      <h3>Not a real flight booker</h3>
      This is an exercise in building a website using forms, including nested forms.  No real flights can or are booked here.
      See <a href="https://www.theodinproject.com/courses/ruby-on-rails/lessons/building-advanced-forms?ref=lnav"> The Odin Project</a>
      or <a href="https://github.com/jttmckee/odin-flight-booker"> this site's github page</a> for more information.
    </div>
    <div display = 'block'>
    <br><%= debug(params) if Rails.env.development? %>
<br><%= session.to_hash.inspect if Rails.env.development?  %>
    </div>
  </body>
</html>
